= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "allocations"

= content_for :h1 do
  = current_facility

= render "sidebar"
%h2= @account
= readonly_form_for :account do |f|
  = f.input :committed_amt, label: text("account_allocations.new.committed_amt"), as: :readonly
  = f.input :total_expense, label: text("account_allocations.new.total_expense"), as: :readonly
  = f.input :free_balance, label: text("account_allocations.new.free_balance"), as: :readonly

= render "member_allocation_table"
