= content_for :tabnav do
  = render "admin/shared/tabnav_payment_method", secondary_tab: "allocation"

= content_for :h1 do
  = current_facility

= render "sidebar"

%h2= @account

= render "accounts/member_allocation_table"
