- can_edit_accounts = SettingsHelper.feature_on? :edit_accounts

= content_for :breadcrumb do
  %ul.breadcrumb
    %li= order_reservation_breadcrumb
    %li &raquo;
    %li= t(".submenu", account_number: @account.account_number)

= content_for :tabnav do
  = render partial: 'shared/tabnav_account', locals: { secondary_tab: "allocations" }

= content_for :h1 do
  = t('account_allocations.new.head')

%header.account
  %h3= @account.account_number
  %p= @account.description_to_s
  <br>

  = readonly_form_for :account do |f|
    = f.input :committed_amt, label: text("account_allocations.new.committed_amt")
    = f.input :total_expense, label: text("account_allocations.new.total_expense")
    = f.input :free_balance, label: text("account_allocations.new.free_balance")

= render "member_allocation_table"
