- can_edit_accounts = SettingsHelper.feature_on? :edit_accounts

= content_for :tabnav do
  = render partial: 'shared/tabnav_account', locals: { secondary_tab: "allocations" }

%header.account
  %h3= @account.account_number
  %p= @account.description_to_s
  <br>
  %p= t(".committed_amt", committed_amt: @account.committed_amt)
  %p= t(".total_expense", total_expense: @account.total_expense)
  %p= t(".free_balance", free_balance: @account.free_balance)

= render "member_allocation_table"
