
= content_for :tabnav do
  = render "shared/tabnav_account", secondary_tab: "lock_fund"

= content_for :h1 do
  = t('.head')



= readonly_form_for :account do |f|
  = f.input :account_number
  = f.input :type_string
  = f.input :description
  = f.input :expires_at, date_only: true
  - if @account.suspended?
    = f.input :suspended_at, date_only: true


:javascript
  function PopUpMessage(){
    document.getElementById("popUpWindow").style.display = "block";
    document.getElementById("popUpWindow").style["padding-top"] = screen.height*0.3 + "px";
  }
  function ConfirmYes(){
    document.getElementById("popUpWindow").style.display = "none";
    document.getElementById("submitBtn").click();
  }
  function ConfirmNo(){
    document.getElementById("popUpWindow").style.display = "none";
  }


#popUpWindow{:style => "display: none;position: fixed; z-index: 1; padding-top: 10%; left: 0;\n  top: 0;\n  width: 100%; \n  height: 100%;\n  overflow: auto; /\n  background-color: rgb(0,0,0); \n  background-color: rgba(0,0,0,0.4);"}
  %div{:style => "  background-color: #fefefe;\n  margin: auto;\n  padding: 20px;\n  border: 1px solid #888;\n  width: 50%;"}
    %span#closeBtn{:style => "  color: #aaaaaa;\n  float: right;\n  font-size: 28px;\n  font-weight: bold; displaty : none"} 
    %p Confirm create request?
    %button{:onclick => "ConfirmYes()", :type => "button", :class => "btn btn-primary"} Yes
    %button{:onclick => "ConfirmNo()", :type => "button", :class => "btn btn-primary"} No




= simple_form_for(AccountTransaction.new, url: create_account_transactions_path(@account)) do |f|
  = f.error_messages
  = f.input :operation_type, collection: [ t(".operation_type.lock_fund"), t(".operation_type.unlock_fund")] , selected: t(".operation_type.lock_fund")
  = f.input :amt , input_html: { type: 'number' }
  = f.hidden_field :user_id ,  value: @account.id
  %button{:onclick => "PopUpMessage()", :type => "button", :class => "btn btn-primary"} New request
  = f.submit t(".new_request"), class: "btn btn-primary",id:"submitBtn",style:"display:none"




%table.table.table-striped.table-hover
  %thead
    %tr
      %th= t(".table.date")
      %th= t(".table.type")
      %th= t(".table.status")
      %th= t(".table.Amount")
  %tbody
    - @account.account_transactions.each  do |at|
      %tr
        %td= format_usa_datetime(at.created_at)
        %td= get_type(at)
        %td= get_status(at)
        %td= get_amt(at )
