
= content_for :h1 do
  = t("views.user_delegation.header")
= error_messages_for :user

<h3>Please note that when you assign a delegatee, he/she can : </h3>
<h5>(1) Sign the facilities Terms and Conditions on behalf of you</h5>
<h5>(2) Make item purchase / instrument reservation on behalf of you</h5>
<h5>(3) Manage your payment source, e.g. assign payment source member, make funding request</h5>
<br>
= content_for :tabnav do
  %ul.nav.nav-tabs
    = tab "My Profile", edit_current_profile_path, (@current_type == "my_profile")
    - if @count > 0
      = tab "My Delegation", user_delegations_path, (@current_type == "my_delegation")


-# <h1> #{t("views.user_delegation.header")} </h1>

-# - unless @is_assigned == true
-#   = simple_form_for(@user_delegation) do |f|
-#     = f.error_notification
-#     = f.input :delegatee
-#     = f.input :delegator, as: :hidden, input_html: { value: @user_id}
-#     = f.button :submit, class: ["btn", "btn-primary"]
-# - else 
-#   %table.table.table-striped.table-hover
-#     %thead
-#       %th= t("views.user_delegation.table.name")
-#     %tbody
-#       %td= @assigned_list.delegatee
-#       %td= link_to t("views.user_delegation.table.button_name"), @assigned_list, data: { confirm: t("views.user_delegation.message") }, method: :delete

= simple_form_for(@user_delegation) do |f|
  = f.error_notification
  = f.input :delegatee
  = f.input :delegator, as: :hidden, input_html: { value: @user_id}
  = f.button :submit, class: ["btn", "btn-primary"]

<br>
<br>

- if @is_assigned == true
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= t("views.user_delegation.table.name")
        %th= t("views.user_delegation.table.date")
    %tbody
      - @assigned_list.each do |od| 
        %tr
          %td= od.delegatee
          %td= format_usa_date(od.created_at)          
          %td= link_to t("views.user_delegation.table.button_name"), od, data: { confirm: t("views.user_delegation.message") }, method: :delete
