= html "body", accounts: @accounts, facility: @facility

- @accounts_grouped_by_owner.each do |owner, accounts|
  %strong= html("owner_header", owner: owner)
  %ul
    - accounts.each do |account|
      %li= account.to_s(with_facility: false)
  
  
  - is_show_insuddicient_header = false
  - accounts.each do |account|
    - if account.free_balance < 0
      - if is_show_insuddicient_header == false 
        - is_show_insuddicient_header = true 
        %strong= html("insufficient_fund_msg")
      %ul
        %li= account.to_s(with_facility: false)

= html "outro", login_url: in_review_transactions_url

