%ul.nav.nav-tabs
  = tab t('shared.tabnav_account.details'), account_path(@account), (secondary_tab == 'details')
  - if @account.class.using_statements?
    = tab t('shared.tabnav_account.statement'), account_statements_path(@account), (secondary_tab == 'statements')
  = tab t('shared.tabnav_account.members'), account_account_users_path(@account), (secondary_tab == 'members')
  - if @account.allows_allocation && @account.account_users.active.length() > 1
    = tab t(".allocation"), account_account_allocations_path(@account), (secondary_tab == "allocations")
  = tab t('shared.tabnav_account.lock_fund'), account_account_transactions_path(@account), (secondary_tab == 'lock_fund')