- if local_assigns[:is_new]
  = render partial: "shared/account_fields", locals: { f: f, account_class: NufsAccount }

= f.input :description

= f.input :committed_amt, label: text("account_allocations.new.committed_amt"), as: :readonly

= f.input :total_expense, label: text("account_allocations.new.total_expense"), as: :readonly

= f.input :free_balance, label: text("account_allocations.new.free_balance"), as: :readonly

= f.label :facility_accounts, t("facility_accounts.account_fields.label.allows_allocation")

<br>
<br>

= f.input :alert_threshold, label: text("account_allocations.new.alert_threshold_input")

-# = f.label :facility_accounts, t("account_allocations.new.is_auto_top_up")
-# = f.check_box :is_auto_top_up

= render partial: 'facility_accounts/account_fields/affiliate', locals: { f: f }
