= content_for :h1 do
  = t_my(Reservation)

= content_for :tabnav do
  %ul.nav.nav-tabs
    - @available_statuses.each do |status|
      = tab I18n.t("reservations.list.status.#{status}"),
        reservations_status_path(status: status),
        (@status == status)

<p> #{I18n.t("views.reservations.message")} </p>

- if params[:status] == "all"
  = form_tag(reservations_status_path, method: :get, enforce_utf8: false) do      
    %table.table.table-striped.table-hover.occupancies.old-table
      %td.action-form{style: "width: 400px"}
        %select{ name: "order_status_id", class: "sync_select", id: nil  , style: "width: 400px"}

          - @type_array.each do |order_status|
            = options_for_select([order_status], @current_type)

      %td= submit_tag "Filter", class: ["btn", "btn-primary"]


- if @order_details.any?
  = render "my_table", order_details: @order_details
- else
  %p.notice= text("none")

= render "shared/auto_logout"
