= content_for :breadcrumb do
  %ul.breadcrumb
    %li= order_reservation_breadcrumb
    %li &raquo; 
    %li= order_detail_breadcrumb
    %li &raquo;
    %li= t(".submenu")
    

= content_for :h1 do
  = @reservation.product.facility

%h2= @reservation.product

= readonly_form_for :reservation do |f|
  = f.input :reserve_to_s
  = f.input :actuals_string
