= content_for :h1 do
  = current_facility

= content_for :sidebar do
  = render "admin/shared/sidenav_admin", sidenav_tab: "recharge_accounts"

%h2= text("header")

%p= text("main")

%ul.inline
  %li
    = link_to text("add_facility_income_account"),
      new_facility_facility_account_path, class: "btn-add"

- if @accounts.empty?
  %p.notice= text("notice")

- else
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= text("charge_account")
    %tbody
      - @accounts.each do |account|
        %tr
          %td
            = link_to account, edit_facility_facility_account_path(current_facility, account)
            - unless account.active?
              = text("inactive")
