- price_policy = price_policies.first
- price_policies_to_show = price_policies.select(&:can_purchase?)

- select_id = Array.new

%table.table
 %thead
  %tr
   %th.actions
   %th= "#{PriceGroup.model_name.human} (#{price_policy.class.human_attribute_name(:type)})"
   - price_policies_to_show.each do |price_policy|
    - select_id << price_policy.id
    %td= "#{price_policy.price_group.name} (#{price_policy.price_group.type_string})"
 %tbody
  - current_type = ""
  - @current_addition_price_policies.each do |c|
   - unless current_type == c.name 
    - current_type = c.name unless current_type == c.name
    %tr
    %td 
     %p= link_to t("shared.edit"), facility_instrument_addition_price_policy_addition_price_policies_path(current_facility, @product, @current_start_date.strftime("%Y-%m-%d"), current_type)if price_policies.all?(&:editable?) && can?(:edit, PricePolicy)
     %p= link_to t("shared.remove"), facility_instrument_addition_price_policy_addition_price_policies_delete_path(current_facility, @product, @current_start_date.strftime("%Y-%m-%d"), current_type), data: { confirm: text("views.addition_price_policies.index.delete_msg") } if price_policies.all?(&:editable?) && can?(:edit, PricePolicy)
     %p.muted= t("shared.edit") unless price_policies.all?(&:editable?) && can?(:edit, PricePolicy)
     %p.muted= t("shared.remove") unless price_policies.all?(&:editable?) && can?(:edit, PricePolicy)

    %td=c.name
   - if current_type == c.name && select_id.include?(c.price_policy_id) && c.deleted_at.nil?
    %td=c.cost

:javascript
  $(".currency").attr('style', 'text-align: left');
