- f.object.send(:extend, PriceDisplayment)
- if f.object.actual_cost?
  .cost-table
    .cost= f.input :actual_cost, as: :currency
    -#.subsidy= f.input :actual_subsidy, as: :currency, disabled: !f.object.price_policy.try(:has_subsidy?), hint: "#{f.object.price_policy.try(:price_group)}"
    .subsidy= f.hidden_field :actual_subsidy, as: :currency
    .adjust= f.input :actual_adjustment, as: :currency
    .total= f.input :actual_total, as: :currency, disabled: true

- else
  .cost-table
    .cost= f.input :estimated_cost, as: :currency, disabled: true
    .subsidy= f.hidden_field :estimated_subsidy, as: :currency, disabled: true
    .total= f.input :estimated_total, as: :currency, disabled: true
