= content_for :h1 do
  = t("user_profile.edit.head")
= error_messages_for :user

= content_for :tabnav do
  %ul.nav.nav-tabs
    = tab "My Profile", edit_current_profile_path, (@current_type == "my_profile")
    - if @count > 0
      = tab "My Assistant", user_delegations_path, (@current_type == "my_delegation")
    - if session_user.is_academic != true
      = tab "Supervisor Endorsement Request", request_endorsements_path, (@current_type == "request_endorsements")

= render "my_profile", users: @user
