- can_edit_accounts = SettingsHelper.feature_on? :edit_accounts

= simple_form_for(AccountUser.new, url: facility_account_allocation_update_path(current_facility, @account)) do |f|
  = f.error_messages
  = f.error_notification
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= t(".th.name")
        %th= t(".th.role")
        %th= t(".th.fee_balance")
    %tbody
      - @account.account_users.active.each_with_index  do |au, index|
        = f.simple_fields_for index.to_s, AccountUser.new do |p|
          - if au.user != @account.owner_user
            %tr
              %td= Users::NamePresenter.new(au.user, username_label: true).full_name
              %td= AccountUserPresenter.new(au).localized_role
              %td
                = p.input :allocation_amt , input_html: { value: AccountUserPresenter.new(au).allocation_amt}, label: false
                = p.hidden_field :id ,  value: AccountUserPresenter.new(au).id.to_s
  = f.button :submit, t(".save"), class: "btn btn-primary"
    
