- can_edit_accounts = SettingsHelper.feature_on? :edit_accounts

= content_for :tabnav do
  = render partial: 'shared/tabnav_account', locals: { secondary_tab: "allocations" }

%h2= @account
%h3= t(".committed_amt", committed_amt: @account.committed_amt)

= render "accounts/member_allocation_table"
