= content_for :tabnav do
  = render partial: 'shared/tabnav_account', locals: { secondary_tab: "details" }
= content_for :h1 do
  = t('.head')

= simple_form_for(@account, url: account_path(@account)) do |f|
  = f.input :account_number, as: :readonly
  = f.input :type_string, as: :readonly
  = f.input :description, as: :readonly
  - if @account.affiliate
    = f.input :affiliate, input_html: { value: @account.affiliate_to_s }, as: :readonly
  = f.input :expires_at, as: :readonly, date_only: true
  - if @account.suspended?
    = f.input :suspended_at, as: :readonly, date_only: true
  = f.label :facility_accounts, t("facility_accounts.account_fields.label.allows_allocation")
  = f.check_box :allows_allocation
  = f.input :type, as: :hidden, input_html: { value: @account.type, name: "type" }
  = f.input :affiliate_id, as: :hidden

  <br>
  <br>

  = render_view_hook("after_end_of_form", f: f, account: @account)

  = render partial: "accounts/suspend_button"
  = f.submit t(".save"), class: "btn btn-primary"
