= content_for :breadcrumb do
  %ul.breadcrumb
    %li= order_reservation_breadcrumb
    %li &raquo;
    %li= t(".submenu", account_number: @account.account_number)

= content_for :tabnav do
  = render partial: 'shared/tabnav_account', locals: { secondary_tab: "details" }
= content_for :h1 do
  = t('.head')

= simple_form_for(@account, url: account_path(@account)) do |f|
  = f.input :account_number, as: :readonly
  = f.input :type_string, as: :readonly
  = f.input :description, as: :readonly

  = f.input :expires_at, label: text("account_allocations.new.expires_at"), as: :readonly, date_only: true
  - if @account.suspended?
    = f.input :suspended_at, as: :readonly, date_only: true
  = f.input :committed_amt, label: text("account_allocations.new.committed_amt"), as: :readonly
  = f.input :total_expense, label: text("account_allocations.new.total_expense"), as: :readonly
  = f.input :free_balance, label: text("account_allocations.new.free_balance"), as: :readonly

  - if @account.type == "NufsAccount"
    = f.input :alert_threshold, label: text("account_allocations.new.alert_threshold")

  - if @account.type == "NufsAccount"
    = f.label  :is_auto_top_up, label: text("account_allocations.new.is_auto_top_up")
    = f.check_box :is_auto_top_up

  <br>
  <br>

  = f.input :type, as: :hidden, input_html: { value: @account.type, name: "type" }
  - if @account.affiliate
    = f.label :facility_accounts, t("facility_accounts.account_fields.label.allows_allocation")
    = f.check_box :allows_allocation
    <br>
    <br>
    = f.input :affiliate_id, as: :hidden
    = f.input :affiliate_other, as: :hidden
    = f.input :affiliate, input_html: { value: @account.affiliate_to_s }, as: :readonly

  <br>
  <br>

  = render_view_hook("after_end_of_form", f: f, account: @account)

  = render partial: "accounts/suspend_button"
  - if @account.type == 'NufsAccount'
    = f.submit t(".save"), class: "btn btn-primary"
